:root {
    --primary-color: #039be5;
    --second-color: #a0b435;
    --black-color: #000000;
    --black-color-medium: #0c0c0c;
    --semi-black: #1e1e1e;
    --white-color: #ffffff;
    --orange-color: #ff5247;
}

h2{
    font-family: "Inter";
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 7.7rem;
    color: var(--white-color);
}

h2 span{
    color: var(--primary-color);
}

.btn-primary{
    border-radius: 2.4rem;
    font-weight: 600;
    line-height: 2rem;
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.btn-primary:hover{
    background-color:var(--white-color);
    transform: scale(1.04);
}

.btn-primary.empty{
    border: 2px solid var(--primary-color);
    border-radius: 2.4rem;
    color: var(--primary-color);
    background-color: transparent;
}

.btn-primary.empty:hover {
    color: var(--black-color);
    background-color: var(--primary-color);
}

.btn-download{
    border: 2px solid var(--primary-color);
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--primary-color);
}

.tag{
    border-radius: 5rem;
    padding: 0.6rem 2rem;
    background-color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 300;
}
