@media (max-width: 1200px){
}

@media (max-width: 991px){
}

@media (max-width: 768px){
    .s-about .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 3rem 0;
    }
    .s-about .container .about{
        align-items: center;
        max-width: 50rem;
    }
}

@media (max-width: 600px){
}

@media (max-width: 480px){
}
