@media (max-width: 1200px){
}

@media (max-width: 991px){
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    header .container nav .menu{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background: var(--black-color-medium);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-top-left-radius: 3rem;
    }

    header .container nav .menu li{
        margin-left: 0;
        opacity: 0;
    }

    header .container nav .mobile-menu{
        display: block;
    }

    header .container nav .menu.active{
        transform: translateX(0);
    }
}

@media (max-width: 600px){
}

@media (max-width: 480px){
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(5rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
        margin-right: 0;
    }
}