/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    margin-top: 2rem;
    z-index: 2000;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .container nav .menu li{
    margin-right: 3rem;
    font-size: 1.5rem;
}

header .container nav .menu .menu-item{
    display: inline-block;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 2.4rem;
}

header .container nav .mobile-menu{
    display: none;
    cursor: pointer;
}

header .container nav .mobile-menu div{
    width: 3.2rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.8rem;
    transition: 0.3s;
}

header .container nav .mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

header .container nav .mobile-menu.active .line2{
    opacity: 0;
}

header .container nav .mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Section Hero*/

.s-hero{
    height: 100vh;
}

.s-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s-hero .container .tittle-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    margin-top: 10rem;
    padding-bottom: 5.6rem;
}

.s-hero .container .tittle-box h1{
    text-align: center;
    color: var(--white-color);
    font-family: "Inter", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.7rem;
    margin-bottom: 1.5rem;
}

.s-hero .container .tittle-box h1 span{
    color: var(--primary-color);
    font-size: 4.3rem;
}

.s-hero .container .tittle-box h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--white-color);
    font-weight: 400;
    font-size: 3rem;
    line-height: 6.8rem;
    border: 2px solid var(--primary-color);
    padding: 0 2rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.s-hero .container .tittle-box .techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    margin-top: 3rem;
}

.s-hero .container .tittle-box .techs img {
    transition: all 0.2s;
}

.s-hero .container .tittle-box .techs img:hover {
    transform: translateY(-10%);
}

.s-hero .container .tittle-box .btn-primary{
    margin-top: 3rem;
    padding: 1rem 4.5rem;
}

/*Section about*/

.s-about{
    background-color: rgba(30, 30, 30, 0.6);
}

.s-about .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.s-about .container .about{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin-top: 10rem;
    padding-bottom: 9rem;
}

.s-about .container .about h2{
    text-align: center;
    color: var(--white-color);
    font-weight: 600;
    font-size: 4rem;
    line-height: 6.8rem;
}

.s-about .container .about p{
    color: var(--white-color);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.s-about .container .about .menu-social{
    height: 3rem;
    width: 22rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.s-about .container .about .menu-social a{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5rem;
}

.s-about .container .about .menu-social img{
    margin: 0;
    padding: 0;
    max-height: 3rem;
}

.s-about .container img{
    width: 30rem;
    height: 40rem;
    margin-top: 6rem;
    padding-bottom: 6rem;
    margin-right: 2rem;
}

/*Section Success*/

.s-success{
    padding: 7.4rem;
    margin: 4rem auto;
    align-items: center;
    justify-content: center;
}

.s-success .container{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-success .container .cards{
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.s-success .container .cards .tittle-success {

}

.s-success .container .cards .card.ative{
    background-color: var(--primary-color);
}

.s-success .container .cards .card{
    width: 24rem;
    height: 30rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    margin: 1.5rem 0;
    margin-left: 3rem;
    cursor: pointer;
}

.s-success .container .cards .card .card-tittle{
    margin: 5rem 0rem;
    padding-right: 16.4rem;
    padding-left: 1.4rem;
}

.s-success .container .cards .card .card-tittle h3{
    font-family: "Inter" sans-serif;
    font-weight: 300;
    font-size: 5rem;
    line-height: 7rem;
    margin-bottom: 5rem;
}

.s-success .container .cards .card .card-info{
    padding-left: 1.4rem;
}

.s-success .container .cards .card .card-info p{
    font-family: "Inter" sans-serif;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.5rem;
}

/*Footer*/

footer{
    background-color: var(--semi-black);
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copy{
    color: var(--white-color);
    font-weight: 400;
    line-height: 2rem;
    padding: 3rem;
}
