/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0rem;
    z-index: 2000;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu li{
    margin-right: 3rem;
    font-size: 1.5rem;
}

header .container nav .menu .menu-item{
    display: inline-block;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 2.4rem;
}

/*Section Hero*/

.s-hero{
    background: url(../img/s-hero-bg.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.s-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s-hero .container .tittle-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    margin-top: 14.5rem;
    padding-bottom: 5.6rem;
}

.s-hero .container .tittle-box h1{
    text-align: center;
    color: var(--white-color);
    font-family: "Inter", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7.7rem;
}

.s-hero .container .tittle-box h1 span{
    color: var(--primary-color);
    font-size: 4.3rem;
}

.s-hero .container .tittle-box h2{
    margin-bottom: 3rem;
    text-align: center;
    color: var(--white-color);
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 6.8rem;
}

.s-hero .container .tittle-box .techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    margin-top: 3rem;
}

.s-hero .container .tittle-box .btn-primary{
    margin-top: 3rem;
    padding: 1rem 4.5rem;
}

